
//color
$color-white-0: #fff;
$color-orange-0: #FF6913;
$color-orange-1: #ffab13;
$color-gray-0:#dfdfdf;
$color-black-0: black;


//background color
$bg-black-color-0:#1B191B;
$bg-black-color-1: #252425;


//font-size
$font-size-0: 15px;
$font-size-1: 18px;
$font-size-2: 26px; 
$font-size-3: 62px;
$font-size-4: 50px;
$font-size-5: 30px;
$font-size-6: 45px;


// padding
$padding-0: 13px;
$padding-1: 30px;
$padding-2: 40px;
$padding-3: 50px;
$padding-5: 100px;
$padding-6: 110px;
$padding-7: 18px;
$padding-8: 60px;
$padding-9: 5px;
$padding-10: 10px;
$padding-11: 200px;
$padding-12: 20px;


// margin
$margin-0: 10px;
$margin-1: 15px;
$margin-2: 20px;
$margin-3: 25px;
$margin-4: 50px;
$margin-6: 100px;
$margin-7: 110px;
$margin-8: 35px;
$margin-9: 75px;
$margin-10: 1rem;



//line height
$line-height-0: 26px;
$line-height-1: 40px;

//font-weight
$font-weight-300: 300;
$font-weight-500: 500;
$font-weight-700: 700;
$font-weight-bold: bold;

//border
$border-0: 5px solid transparent;
$border-1: 2px solid;
$border-2: 2px solid orange;

// border radius
$border-radius-0: 50px;
$border-radius-1: 20px;
$border-radius-2: 100px;
$border-radius-3: 50%;
$border-radius-4: 10px;



$mouse-width: 2.5rem;