.banner {
    background: linear-gradient(to bottom, $bg-black-color-1 50%, black);
    color: $color-white-0;
    overflow: hidden;
    .banner__content {
        width: 70%;
        margin: 0 auto;
        padding: $padding-11 0 0;
        .social {
            margin-top: $margin-6;
            li {
                border-radius: $border-radius-3;
                border: 1px solid $color-orange-0;
                width: 50px;
                height: 50px;
                line-height: 50px;
                text-align: center;
                transition: all 0.5s;
                margin-bottom: $margin-0;
                cursor: pointer;
                a {
                    color: $color-white-0;
                    font-size: $font-size-1 + 2;
                }
                &:hover {
                    background-color: $color-orange-0;
                    animation: upAndDown 1s ease-in-out infinite;
                }
            }
        }

        h1 {
            margin-top: $margin-4;
            font-size: $font-size-3;
            font-weight: $font-weight-bold;
            min-height: 150px;
        }
        p {
            font-size: $font-size-2;
            color: $color-gray-0;
        }

        .download__button {
            padding: 0;
            position: relative;
            li {
                position: absolute;
                @include styleLi($padding-0, $padding-2,$border-radius-0,$border-2);
                a {
                    @include styleA($color-white-0, $font-size-0, $font-weight-bold)
                }
                &:hover {
                    @include hoverLi($color-orange-0);
                    box-shadow: 
                    0 0 60px 2px $color-orange-0,
                    0.5rem 0.5rem 30px mix(black, #26115a, 50%);
                }
            }
        }

        .home__img {
            height: 100vh;
            img {
                animation: fadeIn 5s;
                width: auto;
                height: 760px;
                position: absolute;
                bottom: 29%;
                right: -20%;
            }
        }
    }


    
    .mouse {
        max-width: $mouse-width;
        width: 100%;
        height: auto;
    }
    
    .scroll {
        animation-name: scroll;
        animation-duration: 1.5s;
        animation-timing-function: cubic-bezier(0.650, -0.550, 0.250, 1.500);
        animation-iteration-count: infinite;
        transform-origin: 50% 20.5px;
        will-change: transform, opacity;
        opacity: 1;
    }
    
    .scroll-link {
        position: absolute;
        bottom: 1rem;
        left: 50%;
        transform: translateX(-50%);
    }

}

@keyframes upAndDown {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0px);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


 
@keyframes scroll {
    0%, 20% {
        transform: translateY(0) scaleY(1);
    }

    100% {
        transform: translateY(36px) scaleY(2);
        opacity: 0;
    }

}

